:root {
  --DEAULT-BODY-COLOR: #aaa;
  --WHITE-COLOR: white;
  --OFF-WHITE-COLOR: #dedede;
  --BLACK-COLOR: black;
  --VERY-DARK-GREY-COLOR: #595959;
  --SEARCH-CONTAINER-COLOR: #252424;
  --ORANGE-COLOR: #ee6b2f;
  --DARKER-ORANGE-HOVER-COLOR: #bc5c2f;
  --LIGHTBLUE-COLOR: #30a7d7;
  --GRASS-TYPE-COLOR: #77cd4e;
  --ROCK-TYPE-COLOR: #b9a12c;
  --ICE-TYPE-COLOR: #97d9da;
  --DRAGON-TYPE-COLOR: #733cef;
  --DARK-TYPE-COLOR: #6d5847;
  --PSYCHIC-TYPE-COLOR: #f1608c;
  --BUG-TYPE-COLOR: #a8b529;
  --FLYING-TYPE-COLOR: #a790e0;
  --STEEL-TYPE-COLOR: #b9b7d3;
  --FIRE-TYPE-COLOR: #f67d33;
  --FIGHTING-TYPE-COLOR: #c03124;
  --GROUND-TYPE-COLOR: #ddc171;
  --GHOST-TYPE-COLOR: #715796;
  --POISON-TYPE-COLOR: #944794;
  --WATER-TYPE-COLOR: #6992eb;
  --FAIRY-TYPE-COLOR: #dda9e6;
  --ELECTRIC-TYPE-COLOR: #f1c94a;
  --NORMAL-TYPE-COLOR: #ada985;
}
