@media only screen and (max-width: 480px) {
  .btn,
  header img,
  .header-user-signed-in {
    float: none;
    margin: 0 auto;
  }

  .btn {
    text-align: left;
    max-width: 12rem;
    margin-top: 0.5rem;
  }

  header {
    text-align: center;
  }

  .type-filter li {
    margin-left: 0.5rem;
  }

  .main-pokedex-section {
    padding: 1rem 0.2rem;
  }

  .search-content {
    padding: 2rem 0rem;
    display: block;
  }

  .search-content > div:first-child {
    padding: 0 1.5rem;
  }

  .search-content .clarification {
    font-size: 1.3rem;
  }

  .top-bar-navigation .nav-arrow-container {
    width: 3rem;
  }

  .top-bar-navigation a {
    padding: 1rem;
    font-size: 0.825rem;
  }

  .top-bar-navigation a.nav-right {
    padding-right: 4rem;
  }

  .top-bar-navigation a.nav-left {
    padding-left: 4rem;
  }

  .top-bar-navigation a .pokeName {
    display: block;
  }

  .single-pokemon-title > div {
    font-size: 1.825rem;
    display: block;
  }

  .single-pokemon-title .favorite-star {
    position: absolute;
  }

  .single-pokemon-title span {
    display: block;
  }

  .single-pokemon-title .favorite-star::before {
    font-size: 1.825rem;
  }

  .pokemon-evolution {
    margin: 1rem;
  }

  .pokemon-evolution h2 {
    text-align: center;
    padding-left: 0;
  }

  .filter2-button-container {
    padding: 0rem 0rem 1rem 0rem;
  }

  .add-dropdown-container div {
    padding: 0.2rem 1.5rem;
  }

  .pokemon-information {
    padding: 1rem;
  }
}

@media only screen and (max-width: 540px) {
  .main-pokedex-section .lst-pokemons {
    grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
  }

  .main-pokedex-section .lst-pokemons li span {
    font-size: 0.75rem;
  }
}

@media only screen and (max-width: 860px) {
  .evolution-pokemons > li:not(:first-child)::before {
    left: -3.15rem !important;
  }
}

@media only screen and (max-width: 780px) {
  .filter2-button-container {
    column-gap: 3.5rem;
  }
  .evolution-pokemons {
    flex-direction: column;
    align-items: center;
    row-gap: 4rem;
  }

  .evolution-pokemons > li:not(:first-child)::before {
    top: -2.55rem;
    left: 3.5rem !important;
    border-width: 0px 6px 6px 0px;
  }
}

@media only screen and (max-width: 912px) {
  .evolution-pokemons > li:not(:first-child)::before {
    left: -4rem;
  }
}
